*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.field {
  border: 3px solid;
  border-radius: 15%;

    
}


.ball {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 280px;
    top: -200px;
    
}
.field:hover .bat {
    transform: rotate(-10deg);
    transform-origin: top left;   
    transition: transform .2s ease-in;

}
.field:hover .ball {
    transform: translate(1000px, -200px);
    transition: transform 1s ease-out .2s;
}

